/* 320  */
@media (min-width: 320px) {	
	.for-mobile { display: block; }
	.for-screen { display: none; }
	
	h1 { font-size: 30px; line-height: 38px; margin-bottom: 20px; }
	h2 { font-size: 22px; line-height: 30px; margin-bottom: 20px; }
	h3 { font-size: 22px; line-height: 30px; margin-bottom: 10px; }
	h4 { font-size: 14px; line-height: 22px; margin-bottom: 10px; }
	h5 { font-size: 14px; line-height: 22px; }
	p  { font-size: 14px; line-height: 22px; margin-bottom: 10px; }
	li { font-size: 14px; line-height: 22px; }
	
	.fold { padding-top: 50px; padding-bottom: 50px; }
	.fold-main { padding: 0; }
	
	.form-md { padding: 7px 0; height: 44px; font-size: 100%; }
	.form-lg { padding: 7px 0; height: 44px; font-size: 100%; }
	
	.btn.btn-md { padding: 7px 20px; font-size: 100%; }
	.btn.btn-lg { padding: 7px 20px; font-size: 100%; }
	
	header { background: rgba(0, 0, 0, 1); }
	
	.floaters { bottom: 20px; }
	.floaters.show { right: 20px; }
}

/* 480  */
@media (min-width: 480px) {
}

/* 560  */
@media (min-width: 560px) {
}

/* 768 */
@media (min-width: 768px) {	
	.for-mobile { display: none; }
	.for-screen { display: block; }
	
	.mb-5 { margin-bottom: 3rem !important; }
	
	h1 { font-size: 48px; line-height: 56px; margin-bottom: 30px; }
	h2 { font-size: 40px; line-height: 48px; margin-bottom: 30px; }
	h3 { font-size: 32px; line-height: 40px; margin-bottom: 20px; }
	h4 { font-size: 24px; line-height: 32px; margin-bottom: 20px; }
	h5 { font-size: 18px; line-height: 26px; }
	p  { font-size: 16px; line-height: 24px; margin-bottom: 20px; }
	li { font-size: 16px; line-height: 24px; }
	
	.fold { padding-top: 150px; padding-bottom: 150px; }
	.fold-main { padding: 0; }
	
	.btn.btn-md { padding: 12px 48px; font-size: 110%; }
	.btn.btn-lg { padding: 15px 56px; font-size: 120%; }
	
	.form-md { padding: 14px 30px; height: 62px; font-size: 120%; }
	.form-lg { padding: 20px 40px; height: 82px; font-size: 140%; }
	
	header { background: rgba(0, 0, 0, 0); }
	header .for-mobile { display: block; }
	header .for-desktop { display: none; }
	
	.floaters { bottom: 30px; }
	.floaters.show { right: 30px; }
}

/* 960 */
@media (min-width: 960px) {
}

/* 1024 */
@media (min-width: 1024px) {
	header .for-mobile { display: none; }
	header .for-screen { display: block; }
}

/* 1100 */
@media (min-width: 1100px) {
}

/* 1260 */
@media (min-width: 1260px) {
}

/* 1440 */
@media (min-width: 1440px) {
}

/* Max: 768  */
@media (max-width: 768px) {		
}