/* Defaults */
body { font-family: 'Roboto'; font-size: 16px; line-height: 24px; overflow-x: hidden; }

h1, h2, h3 { font-family: 'Exo Bold'; }
h4, h5 { font-family: 'Exo'; }
h1 { font-size: 48px; line-height: 56px; margin-bottom: 40px; }
h2 { font-size: 40px; line-height: 48px; margin-bottom: 40px; }
h3 { font-size: 32px; line-height: 40px; margin-bottom: 20px; }
h4 { font-size: 24px; line-height: 32px; margin-bottom: 20px; }
h5 { font-size: 16px; line-height: 24px; margin-bottom: 0; }
p  { font-size: 16px; line-height: 24px; margin-bottom: 20px; }
li { font-size: 16px; line-height: 24px; }

a { color: #000000; transition: all 0.3s; }
a img { transition: all 0.3s; }
a:hover { text-decoration: none; color: #666666; }

hr {}
blockquote {}
strong {}
svg { height: 100%; width: 100%; }
table { width: 100%; }

/* General */
#icon { cursor: pointer; fill: url(#gradient); }
.hidden { display: none; z-index: -1000 !important; }
.required { color: red; font-weight: bold; }
.waves { position: relative; }
.waves:before { position: absolute; height: 100%; width: 100%; content: ""; top: 0; opacity: 0.1; }
.waves:before { background-image: url(../images/patt-waves.png); mix-blend-mode: overlay; }
.shaded { background-color: #eef7fa; }

.fold { overflow: hidden; min-height: 100vh; padding-top: 150px; padding-bottom: 150px; }
.fold { background-position: center; background-repeat: no-repeat; background-attachment: fixed; }

/* Line Heights */
.lh-1 { line-height: 1; }
.lh-2 { line-height: 2; }
.lh-3 { line-height: 3; }
.lh-4 { line-height: 4; }
.lh-5 { line-height: 5; }

/* Font Colors */
.fc-yellow 	{ color: #FBED8A; }
.fc-navy 	{ color: #2f2bad; }
.fc-violet	{ color: #ad2bad; }
.fc-blue	{ color: #0099ff; }
.fc-red		{ color: #EC254C; }

/* Decorations */
.decor { position: relative; }
.decor::before { position: absolute; width: 100%; height: 100%; content: ""; top: 0; }
.decor::before { background-repeat: no-repeat; background-size: contain; }
.decor-1::before { background-image: url(../images/decor-1.png); background-position: left top; }
.decor-2::before { background-image: url(../images/decor-2.png); background-position: right top; }

/* Header */
header { position: fixed; width: 100%; left: 0; top: 0; z-index: 100; }
header { transition: all 0.5s; background: rgba(0, 0, 0, 0);  }
header > div { padding-top: 20px; padding-bottom: 20px; }
header .main-logo { float: left; }
header .main-logo img { max-height: 60px; transition: all 0.3s; }
header .for-screen { padding-top: 30px; transition: all 0.3s; }

header .for-mobile { padding: 15px; }
header .for-mobile img { max-width: 240px; max-height: 40px; margin-top: 5px; }
header .for-mobile .list-menu-item { display: block; }
header .for-mobile .list-menu-item { margin: 0; }
header .for-mobile .list-menu-item a { text-indent: 0 !important; }

header.append { /*background: linear-gradient(rgba(47,43,173,1) 0%, rgba(173,43,173,1) 100%);*/ }
header.append { background-color: rgba(47,43,173,1); box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4); }
header.append .for-screen { padding-top: 20px; }
header.append .for-screen .main-logo img { max-height: 50px; }
header.append .for-mobile .main-logo img { max-height: 40px; }

header .list-menu { text-align: right; margin-bottom: 0; padding-left: 0; }
header .list-menu-item { display: inline-block; margin: 0 0 0 40px; font-weight: bold; }
header .list-menu-item a { color: #FFFFFF; padding: 8px 0; display: block; position: relative; }
header .list-menu-item a:before { position: absolute; content: ""; transition: all 0.3s; }
header .list-menu-item a:before { width: 0; height: 2px; bottom: 0; background-color: #0099ff; }
header .list-menu-item a:hover,
header .list-menu-item a.active { color: #FBED8A; color: #0099ff; }
header .list-menu-item a:hover:before { width: 100%; }

/* Fold: Main */
.fold-main { background-attachment: scroll; background-color: #FBED8A; color: #FFFFFF; }
.fold-main { display: flex; background-position-y: top; background-size: cover; }
.fold-main .container { align-self: center; }
.fold-main .container .row { display: flex; align-items: center; }
.fold-main .container .row ~ div { align-self: center; }

/* Deck: Steps */
.deck-steps .card { margin-bottom: 80px; }
.deck-steps .card h5 { position: relative; z-index: 1; transition: 0.3s all; }
.deck-steps .card span { height: 100px; border-radius: 10px; background-color: #2f2bad; text-align: center; transition: 0.3s all; }
.deck-steps .card span { line-height: 100px; display: block; position: absolute; top: -50px; left: 50%; width: 100px; }
.deck-steps .card span { transform: translate(-50%, 0); font-size: 48px; font-family: 'Exo Bold'; color: #FFFFFF; }
.deck-steps .card-body { padding: 80px 50px 30px; text-align: center; }
.deck-steps .card-img-top { border-radius: 10px 10px 0 0; overflow: hidden; }
.deck-steps .card-img-top img { transition: 0.3s all; }
.deck-steps .card .waves:before { left: 0; }

.deck-steps .card:hover img { transform: scale(1.1); }
.deck-steps .card:hover span { width: 100%; height: 100%; top: 0; }
.deck-steps .card:hover h5 { color: #FFFFFF; }

.deck-steps .step-1 span { background-color: #0099ff; }
.deck-steps .step-2 span { background-color: #2f2bad; }
.deck-steps .step-3 span { background-color: #ad2bad; }

/* Deck: Services */
.deck-services .card { text-align: center; padding: 0; margin-bottom: 30px; border-radius: 10px; }
.deck-services .card { position: relative; box-shadow: 0 0 0; background-color: transparent; }
.deck-services .card h4 { font-weight: bold; }
.deck-services .card p { margin-bottom: 0; display: none; }
.deck-services .card-body { padding: 30px; min-height: 160px; transition: 0.5s all; background-color: #FFFFFF; }
.deck-services .card-body { box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1); border-radius: 10px; }
.deck-services .card-body svg { max-height: 50px; max-width: 50px; margin-bottom: 10px; height: 50px; }
.deck-services .card-back { position: absolute; background: linear-gradient(#2f2bad 0%, #0099ff 100%); display: flex; align-items: center; }
.deck-services .card-back { width: 100%; top: 0; color: #FFFFFF; backface-visibility: hidden; height: 100%; justify-content: center; }
.deck-services .card-back { transition: 0.5s all; border-radius: 10px; transform: rotateY(180deg); box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1); }
.deck-services .card-back h4 { margin-bottom: 10px; }
.deck-services .card-back svg { fill: rgba(255, 255, 255, 0.3); max-width: 240px; max-height: 120px; }
.deck-services .card-back span { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: calc(100% - 40px); }
.deck-services .card-back .btn { margin: 0; display: none; /* TMP */ }
.deck-services .card:hover .card-body { transform: rotateY(180deg); }
.deck-services .card:hover .card-back { transform: rotateY(0); }

/* Slider: Testimonials */
#slider_testimonials .card-deck { padding: 20px 20px 40px; }
#slider_testimonials .card-body { position: relative; }
#slider_testimonials .card { position: relative; }
#slider_testimonials .card:before { opacity: 0; border-radius: 10px; content: ""; width: 100%; height: 100%; }
#slider_testimonials .card:before { background: linear-gradient(#2f2bad 0%, #0099ff 100%); transition: 0.3s all; }
#slider_testimonials .card:before { position: absolute; top: 0; left: 0; transform: scale(0.0); }
#slider_testimonials .card:hover:before { opacity: 1; transform: scale(1); }
#slider_testimonials .card:hover .fc-navy,
#slider_testimonials .card:hover h4,
#slider_testimonials .card:hover p { color: #FFFFFF; }
#slider_testimonials .card h4,
#slider_testimonials .card p { padding-left: 120px; transition: 0.3s all; }
#slider_testimonials .card p.position { font-size: 14px; }
#slider_testimonials .card img { position: absolute; height: 100px;  width: 100px; border-radius: 100px; }

#slider_testimonials .carousel-indicators { margin: 0 20px; justify-content: flex-start; }
#slider_testimonials .carousel-indicators li { width: 20px; height: 6px; margin-right: 4px; margin-left: 4px; transition: 0.3s all; }
#slider_testimonials .carousel-indicators li { background-color: #2f2bad; opacity: 1; border-radius: 10px; border: 0; }
#slider_testimonials .carousel-indicators li.active { background-color: #2f2bad; width: 40px; }

/* Fold: Clients */
.fold-clients { padding: 100px 0 50px; background: #ad2bad; color: #FFFFFF; }
.fold-clients { /*background: linear-gradient(rgba(173,43,173,1) 0%, rgba(47,43,173,1) 50%);*/ }

/* Fold: Newsletter */
.fold-newsletter { padding: 100px 0; background: #2f2bad; color: #FFFFFF; }
.fold-newsletter .form-control { border-color: #FFFFFF; }
.fold-newsletter form { position: relative; }
.fold-newsletter form .btn { margin: 0; position: absolute; top: 0; right: 0; }

/* Deck: Blog */
.deck-blog { margin-bottom: 30px; }
.deck-blog .card { margin-bottom: 30px; }
.deck-blog .card:hover { cursor: pointer; }
.deck-blog .card-img-top { overflow: hidden; }
.deck-blog .card img { transition: 0.3s all; }
.deck-blog .card:hover img { transform: scale(1.1); }
.deck-blog .card-body { padding-top: 50px; }
.deck-blog .card-date { position: absolute; top: -35px; left: 20px; height: 70px; width: 70px; border-radius: 10px; text-align: center; }
.deck-blog .card-date { background-color: #0099ff; color: #FFFFFF; padding-top: 15px; }
.deck-blog .card-date span { display: block; font-weight: bold; }
.deck-blog .card-day { font-size: 32px; }
.deck-blog .card-month { text-transform: uppercase; }

/* Footer */
footer { color: #FFFFFF; padding-top: 150px; padding-bottom: 50px; overflow: hidden; }
footer { background-position: top; background-size: cover; background-color: #0165cc; }
footer a { color: #FFFFFF; }
footer a:hover { color: #FBED8A; }
footer .logo-footer { max-width: 240px; margin-bottom: 20px; }
footer p,
footer li { line-height: 30px; }
footer .floor { margin-top: 50px; }
footer .list-contact li:before { color: #FBED8A; }
footer .column-technicals { text-align: right; }
footer .column-technicals li { margin-left: 30px; }

/* Loader */
.no-js #loader { display: none;  }
   .js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; }
.se-pre-con { display: flex; justify-content: center; align-items: center; background-color: #2f2bad; }
.se-pre-con { background: linear-gradient(rgba(173,43,173,1) 0%, rgba(47,43,173,1) 100%); }
.se-pre-con img { height: 100px; width: 100px; }

/* Floaters */
.floaters { position: fixed; right: -70px; bottom: 30px; z-index: 100; transition: all 0.3s; }
.floaters .btn { border: 0; background: #EC254C !important; color: #FFF !important; border-radius: 50%; }
.floaters .btn { width: 50px; height: 50px; display: flex; padding: 0; text-align: center; opacity: 0.5; }
.floaters .btn { box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2); align-items: center; justify-content: center; }
.floaters .btn:hover { opacity: 1; animation: beating 2s infinite; }
.floaters > div { margin-top: 10px; }
.floaters.show { right: 30px; }

/* List: Checklist */
.list-checklist li { margin-bottom: 20px; position: relative; padding-left: 40px; }
.list-checklist li:before { font-size: 24px; content: "\f00c"; }
.list-checklist li:before { position: absolute; left: 0; top: 0; font-family: 'Font Awesome 5 Free'; }
.list-checklist li:before { color: #0099ff; font-weight: 900; width: 20px; text-align: center; }

/* List: Social Media */
.list-social li { margin-right: 20px !important; }
.list-social li a { color: #FBED8A; transition: 0.3s all; }
.list-social li a i { transition: 0.3s all; position: relative; top: 0; }
.list-social li a:hover i { top: -5px; }

/* List: Contact Information */
.list-contact li { margin-bottom: 20px; position: relative; padding-left: 40px; }
.list-contact li:before { position: absolute; left: 0; top: 0; font-family: 'Font Awesome 5 Free'; }
.list-contact li:before { color: #0165cc; font-weight: 900; width: 20px; text-align: center; }
.list-contact .contact-address:before 	{ content: "\f3c5"; }
.list-contact .contact-number:before 	{ content: "\f10b"; }
.list-contact .contact-email:before 	{ content: "\f0e0"; }

/* List: Quick Links */
.list-links { overflow: hidden; }
.list-links li { margin-bottom: 10px; position: relative; padding-left: 25px; margin-left: -25px;  transition: 0.3s all; }
.list-links li:before { content: "\f105"; color: #FBED8A; font-weight: 900; }
.list-links li:before { position: absolute; left: 0; top: 0; font-family: 'Font Awesome 5 Free'; }
.list-links li:hover { margin-left: 0; }

/* Scroll Down */
.icon-scroll { position: absolute; bottom: 40px; left: 50%; transform: translate(-50%, 0); }
.icon-scroll { display: block; text-align: center; color: #FFFFFF; width: 100px; height: 80px; margin: 0 auto; overflow: hidden; }
.icon-scroll div { width: 32px; height: 48px; border: 2px solid #FFFFFF; border-radius: 32px; }
.icon-scroll div { margin: 20px auto 10px; position: relative; transition: 0.3s all; }
.icon-scroll div::after { position: absolute; content: ""; left: 50%; transform: translate(-50%); }
.icon-scroll div::after { top: 10px; width: 4px; height: 8px; background: #FFFFFF; border-radius: 3px; }
.icon-scroll div::after { animation-name: scroll; animation-duration: 2s; animation-iteration-count: infinite; animation-delay: 2s; }
.icon-scroll span { color: #FFFFFF; opacity: 0; transition: 0.3s all; }
.icon-scroll:hover span { color: #FFFFFF; opacity: 1; }
.icon-scroll:hover div { margin-top: 0; }

/* Animations */
@keyframes beating {
	0%		{ box-shadow: 0 0 0  5px rgba(184, 31 ,104, 0.2); }
	25% 	{ box-shadow: 0 0 0 10px rgba(184, 31 ,104, 0.2); }
	50% 	{ box-shadow: 0 0 0  5px rgba(184, 31 ,104, 0.2); }
	75% 	{ box-shadow: 0 0 0 10px rgba(184, 31 ,104, 0.2); }
	100% 	{ box-shadow: 0 0 0  5px rgba(184, 31 ,104, 0.2); }
}

@keyframes glowing {
	0%		{ box-shadow: 0 0 0  5px rgba(255, 255 ,255, 0.2); }
	25% 	{ box-shadow: 0 0 0 10px rgba(255, 255 ,255, 0.2); }
	50% 	{ box-shadow: 0 0 0  5px rgba(255, 255 ,255, 0.2); }
	75% 	{ box-shadow: 0 0 0 10px rgba(255, 255 ,255, 0.2); }
	100% 	{ box-shadow: 0 0 0  5px rgba(255, 255 ,255, 0.2); }
}

@keyframes scroll {
	0% 		{ opacity: 1; margin-top: 0; }
	25% 	{ opacity: 1; margin-top: 15px; }
	50% 	{ opacity: 0; margin-top: 15px; }
	75% 	{ opacity: 0; margin-top: 0; }
	100% 	{ opacity: 1; margin-top: 0; }
}